body {
    font-family: 'Georgia', serif;
    background-color: #F4E1C6; 
    color: #4A2C2A; 
    text-align: center;
    margin: 0;
    padding: 0;
}


.quiz-container {
    width: 80%;
    max-width: 700px;
    background: #FFF8E1; 
    margin: 50px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 3px solid #8B4513; 
}


h1, h2 {
    color: #6B3E26; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.btn {
    display: block;
    width: 100%;
    max-width: 650px;
    height: 200px;
    margin: 30px 500px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(to bottom, #B7410E, #8B4513); 
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(to bottom, #D2691E, #A0522D); 
    transform: scale(1.05);
}

/* Question Box */
#question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.option-btn {
    background: #A0522D; /* Dark saddle brown */
    color: #FFF8E1;
    border: 2px solid #6B3E26;
}

.option-btn:hover {
    background: #CC5500; /* Burnt orange */
}

#progress {
    width: 100%;
    background-color:#efefef;
    margin-top: 0px;
    margin-bottom: 40px; 
    border: 2px solid #A0522D;
    border-radius: 6px;

}
#progress-bar {
    height: 30px;
    background-color:#A0522D;
    border-radius: 2px;
    width:0%;
    transition: all ease-in-out 0.5s;
}    
h3 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: #8B4513;
}


.container::before {
    content: "🤠";
    font-size: 40px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.score {
    display: inline-block;

}
.quiz-container {
    position: relative;
}

.bottom-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}