
body {
    background-color: #F4E1C6; 
    font-family: 'Georgia', serif;
    color: #4b2e1c;
    font-family: 'Special Elite', cursive;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 15px;
    color: #8B4513;
    text-shadow: 3px 3px 0 
}

h2 {
    font-size: 13px;
    color: #5a3210;
}

p{
    font-size: 11px;
    background: #ffefc9cc;
    padding: 15px;
    border: 2px solid #8B4513;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
    text-align: justify;
}
fieldset {
    background: rgba(255, 239, 201, 0.9);
    border: 3px solid #8B4513;
    border-radius: 8px;
    padding: 15px;
    max-width: 70%;
    margin: 15px auto;
}

legend {
    font-family: 'Rye', cursive;
    font-size: 1.4rem;
    color: #4b2e1c;
}

label {
    font-size: 1.2rem;
    display: block;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 8px;
}

button {
    background: linear-gradient(to bottom, #8B4513, #5a3210);
    color: white;
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 3px solid #4b2e1c;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px 0 #3b1e10;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background: linear-gradient(to bottom, #5a3210, #3b1e10);
    transform: translateY(-2px);
}