<!DOCTYPE html>
<html>
<head>
    <title>Story</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='personalized.css') }}">
</head>
<body>
    <h1>Your Western Story</h1>

    <p>{{ story }}</p>  </p>

    <h2>Comprehension Quiz</h2>
    <form action="{{ url_for('comprehension') }}" method="POST">
        {% for question, data in comprehension_questions.items() %}  <fieldset>
                <legend>{{ question }}</legend>
                {% for choice in data['choices'] %}
                    <label>
                        <input type="radio" name="{{ question }}" value="{{ choice }}" required> {{ choice }}
                    </label><br>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>


</body>
</html>